*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6ceed;
}

.overlay{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    background-color: #423444a0;
    width: 100vw;
    height: 100vh;
}

.imgGiftCara{
    width: 200px;
}

.palabraElegida{
    
}

.contenedorPrincipal{
    height: 100vh;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorPalabra{
    margin-bottom: 30px;
    letter-spacing: 10px;
    font-weight: 600;
}
.ayudaPalabra{
    font-weight: 600;
    font-size: .9rem;
    margin: 10px 0 20px 0;
    color: #1e141a;
}


.contenedorTeclado {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    width: 400px;
}

.contenedorTeclado button {
    flex: 0 0 calc(100% / 9 - 4px);
    max-width: calc(100% / 9 - 4px);
}


.btnTeclado{
    background-color: #ad91b4;
    color: #1e141a;
    border: none;
}

.presionada{
    background-color: #705e76;
    border: none;
}

