:root{
    --centrarTexto: center;
    --colorPrincipal1: #d9d17d;
    --colorPrincipal2: #332d14;
    --colorSecundario: #918f56;
    --colorAcentuado: #5f5b30;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--colorPrincipal1);
}

.overlay{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    background-color:#918f56a3;
    width: 100vw;
    height: 100vh;
}

.btnOverlay{
    padding: 5px;
    margin-top: 20px;
    background-color: var(--colorPrincipal1);
    color: var(--colorPrincipal2);
    border: 2px solid var(--colorSecundario); 
    border-radius: 5px;
}

.imgGiftCara{
    width: 200px;
}

.contenedorPrincipal{
    height: 100vh;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--colorPrincipal2);
}

.contenedorGrid{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center; 
}

.contenedorPalabra{
    margin-bottom: 30px;
    letter-spacing: 10px;
    font-weight: 600;
    text-align: center;
}

.contenedorFallos{
    color: var(--color);
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: var(--colorPrincipal2);
}
.ayudaPalabra{
    font-weight: 600;
    font-size: .9rem;
    margin: 10px 0 20px 0;
    color: var(--colorPrincipal2);
    text-align: center;
}


.contenedorTeclado {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    width: 350px;
    text-align: center;
}

.contenedorTeclado button {
    flex: 0 0 calc(100% / 9 - 4px);
    max-width: calc(100% / 9 - 4px);
}


.btnTeclado{
    background-color: var(--colorSecundario);
    color: var(--colorPrincipal2);
    border: none;
}

.presionada{
    background-color: var(--colorAcentuado);
    border: none;
    color: var(--colorPrincipal2);
}

@media (min-width: 768px){  
    .contenedorGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .contenedorDerecha{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedorTeclado{
        width: 500px;
    }
    
    
}

